<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<h4 style="font-family: 'Lobster Two', cursive;" class="mb-4">Sipariş Listesi</h4>



    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">İsime Göre Ara...</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>İsim-Soy isim</th>
        <th>Restoran Adı</th>
        <th>Sipariş Tutarı</th>
        <th>Sipariş Durumu</th>
        <th>Müşteri Telefon No</th>
        <th>Tahmini Teslimat Süresi</th>
        <th>Sipariş Türü</th>
        <th>Sipariş Açıklaması</th>
        <th>Sipariş Adresi</th>
       
      </tr>
    </thead>
   
   <h3>Veri Tabanından Id Sorgusu yapılarak Tablo doldurulacak</h3>
  