<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<h4 style="font-family: 'Lobster Two', cursive;" class="mb-4">Aktif Müşteriler</h4>



    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">İsime Göre Ara...</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>İsim - Soyisim</th>
        <th>Tc Kimlik No</th>
        <th>Mail Adresi</th>
        <th>Doğum Tarihi</th>
        <th>Telefon Numarası</th>
        <th>Kayıt Tarihi</th>
        <th>Düzenle</th>
        <th>Sil</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Yusuf Göktaş</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">154185451</p>
        </td>
        <td>
          <span>yusufgk125@gmail.com</span>
        </td>
        <td>02.06.2000</td>
        <td>
          +90 536 228 26 96
        </td>
        <td>
            24.03.2023
          </td>
          <td>
            <a href="customer/edit">
                <i class="fa-solid fa-pen"></i>
            </a>
          </td>
          <td>
            <a href="#">
                <i class="fa-solid fa-trash"></i>
            </a>
          </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Yusuf Göktaş</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">154185451</p>
        </td>
        <td>
          <span>yusufgk125@gmail.com</span>
        </td>
        <td>02.06.2000</td>
        <td>
          +90 536 228 26 96
        </td>
        <td>
            24.03.2023
          </td>
          <td>
            <a href="#">
                <i class="fa-solid fa-pen"></i>
            </a>
          </td>
          <td>
            <a href="#">
                <i class="fa-solid fa-trash"></i>
            </a>
          </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Yusuf Göktaş</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">154185451</p>
        </td>
        <td>
          <span>yusufgk125@gmail.com</span>
        </td>
        <td>02.06.2000</td>
        <td>
          +90 536 228 26 96
        </td>
        <td>
            24.03.2023
          </td>
          <td>
            <a href="#">
                <i class="fa-solid fa-pen"></i>
            </a>
          </td>
          <td>
            <a href="#">
                <i class="fa-solid fa-trash"></i>
            </a>
          </td>
      </tr>

    </tbody>
  </table>