<!-- <div id="chart-container" style="height: 500px;"></div> -->

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam facilisis nulla vitae tellus pretium suscipit.
    Vestibulum rhoncus tellus vel hendrerit euismod. Donec id turpis dolor. Aliquam a nulla non sapien hendrerit
    dignissim. Sed imperdiet consectetur erat, at malesuada est suscipit nec. Sed eget urna eu turpis aliquam
    luctus sed sit amet arcu. Duis malesuada sapien vel erat maximus egestas. Integer quis nisi ut lorem varius
    ullamcorper vitae ut tellus. Fusce nec risus eu urna blandit aliquam ut in augue. Sed varius tristique
    mauris et ultrices.</p>
<p>Phasellus volutpat metus et neque varius, vel consequat augue dictum. Sed interdum, nisi sed viverra
    lobortis, nunc arcu venenatis odio, ac lobortis lacus neque at ex. Aenean vel semper ex. Aliquam a lectus
    eget odio blandit posuere. Nulla facilisi. Sed viverra mauris non nisi blandit dignissim. Fusce rutrum risus
    vitae risus tincidunt, nec congue odio euismod. Proin malesuada sed massa a mattis. Nam id enim id nisi
    consectetur rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
    egestas.</p>


