<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<h4 style="font-family: 'Lobster Two', cursive;" class="mb-4">Başvuru Yapan Restoranlar</h4>



    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">İsime Göre Ara...</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Restoran Adı</th>
        <th>Vergi No</th>
        <th>Mail Adresi</th>
        <th>Açılış Saati</th>
        <th>Kapanış Saati</th>
        <th>Telefon Numarası</th>
        <th>Kayıt Tarihi</th>
        <th>İncele</th>
        <th>Reddet</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Burger King</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">154185451</p>
        </td>
        <td>
          <span>yusufgk125@gmail.com</span>
        </td>
        <td>12.00</td>
        <td>23.00</td>
        <td>
          +90 536 228 26 96
        </td>
        <td>
            24.03.2023
          </td>
          
          <td>
            
            
                
            
                <div class="confirm">
                  
                    <i (click)="dialog.showModal()" class="fa-solid fa-magnifying-glass fa-lg"></i>
                    <dialog #dialog>
                      <div class="d-flex align-items-center justify-content-center x">
                        <div class="dialog">
                          <h2>Restoran Bilgileri</h2>
                          <div class="title">Restoran Adı:</div>Burger King
                          <hr>
                          <div class="title">Vergi No:</div>154185451
                          <hr>
                          <div class="title">Mail Adresi:</div>yusufgk125@gmail.com
                          <hr>
                          <div class="title">Açılış Saati:</div>12.00
                          <hr>
                          <div class="title">Kapanış Saati:</div>23.00
                          <hr>
                          <div class="title">Telefon Numarası:</div> +90 536 228 26 96
                          <hr>
                          <div class="title">Kayıt Tarihi:</div>24.03.2023
                          <hr>
                          <div class="title">Minumum Sipariş Tutarı:</div>50
                          <hr>
                          <div class="title">Katagori Türü:</div>Hamburger
                        </div>
                      </div>
                          <button class="close_button">Onayla</button>
                          <button class="close_button" (click)="dialog.close()">Vazgeç</button>
                    </dialog>   
               </div> 
           
          </td>
          <td>
            <a href="#">
                <div class="deny">
                    <i class="fa-solid fa-x"></i>

                </div>    
            </a>
          </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Burger King</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">154185451</p>
        </td>
        <td>
          <span>yusufgk125@gmail.com</span>
        </td>
        <td>12.00</td>
        <td>23.00</td>
        <td>
          +90 536 228 26 96
        </td>
        <td>
            24.03.2023
          </td>
          <td>
            <a href="#">
                <div class="confirm">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
               </div> 
            </a>
          </td>
          <td>
            <a href="#">
                <div class="deny">
                    <i class="fa-solid fa-x"></i>

                </div>
            </a>
          </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1">Burger King</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">154185451</p>
        </td>
        <td>
          <span>yusufgk125@gmail.com</span>
        </td>
        <td>12.00</td>
        <td>23.00</td>
        <td>
          +90 536 228 26 96
        </td>
        <td>
            24.03.2023
          </td>
          <td>
            <a href="#">
               <div class="confirm">
                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
               </div>  
            </a>
          </td>
          <td>
            <a href="#">
                <div class="deny">
                    <i class="fa-solid fa-x"></i>

                </div>
            </a>
          </td>
      </tr>

    </tbody>
  </table>
  