<div class="d-flex justify-content-between">
  <div>
    <button (click)="changeVisibility()" class="btn p-3 open" style="background-color:#5D196A;color: white;">Büyüklük Değiştirme
      Aracını {{!noShow ? "Açmak" : "Kapatmak" }}  İçin Tıklayın
    <span style="display: block;font-size: 11px;color: #cff4fc;">*Büyüklük ayarı kapalıyken grafiklerin yerini değiştirebilirsiniz.</span>
    </button>
  </div>
  <div style="width: 300px;" class="text-center">
    <div class="alert alert-danger" role="alert" *ngIf="noShow">
      Büyüklük Ayarı Açık
    </div>
    <div class="alert alert-info" role="alert" *ngIf="!noShow">
      Büyüklük Ayarı Kapalı
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12 mb-4">
    <div [class]="giveClass()" class="chart" cdkDragBoundary=".example-boundary" cdkDrag [cdkDragDisabled]="noShow">
      <div class="example-box" style="border: 3px solid #5D196A;box-shadow: 3px 3px 5px 5px black;">

        <div class="chart-container" #chart1 [chart]="linechart"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 mb-4">
    <div [class]="giveClass()" class="chart" cdkDrag [cdkDragDisabled]="noShow">
      <div class="example-box" style="border: 3px solid #5D196A;box-shadow: 3px 3px 5px 5px black;">
        <div class="chart-container" #chart2 [chart]="piechart"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-4">
    <div [class]="giveClass()" class="chart" cdkDrag [cdkDragDisabled]="noShow">
      <div class="example-box" style="border: 3px solid #5D196A;box-shadow: 3px 3px 5px 5px black;">
        <div class="chart-container" #chart3 [chart]="piechartcategory"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 mb-4">
    <div [class]="giveClass()" class="chart" cdkDrag [cdkDragDisabled]="noShow">
      <div class="example-box" style="border: 3px solid #5D196A;box-shadow: 3px 3px 5px 5px black;">
        <div class="chart-container" #chart4 [chart]="piechartorder"></div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 mb-4">
    <div [class]="giveClass()" class="chart" cdkDrag [cdkDragDisabled]="noShow">
      <div class="example-box" style="border: 3px solid #5D196A;box-shadow: 3px 3px 5px 5px black;">
        <div class="chart-container" #chart5 [chart]="piechartmaxorder"></div>
      </div>
    </div>
  </div>
</div>
<br><br><br>



