<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<h4 style="font-family: 'Lobster Two', cursive;" class="mb-4">Admin Yönetimi</h4>
<div class="all">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Kullanıcıları ID'Ye Göre Ara...</label>
    <div class="d-flex justify-content-between">
      <input [(ngModel)]="filter" type="text" class="form-control" aria-describedby="emailHelp">
      <button style="margin-left: 1rem;background-color:#5D196A;color: white;" class="btn">Ara</button>
    </div>
  </div>

  <table class="table align-middle mb-0 bg-white" *ngIf="users">
    <thead class="bg-light">
      <tr>
        <th>İsim</th>
        <th>Soy İsim</th>
        <th>E-Posta</th>
        <th>Detaylar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.firstName}} </td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>
          <i class="fa-solid fa-circle-info" routerLink="/admin/user/{{user.id}}"></i>
        </td>
        <td>
          

        </td>

      </tr>
    </tbody>

  </table>

</div>